@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Color Palette */
:root {
    --bg-body: #BFEDD9;
    --bg-non-body: #64B996;
    --bg-panel: #BDD5AF;
    --bg-panel-header: #4B6B38;

    --text-gen: #191710;
    --text-header: #EFFBF6;
    --text-link: #ADEEE3;

    --hover-shadow: #191710;
}

/* General */
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;

    font-family: 'Poppins', sans-serif;
}

#navbar {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 200px;

    background-color: var(--bg-non-body);
}
#navbar h1 {
    margin: 0px;
    padding: 0px;
    width: min-content;
    height: min-content;
}